@model WAD_Wxam.Models.Subject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExamSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
